 .home{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
}
.left{
    display: flex;
}
.leftBox{
    flex-direction: column;
    min-width: 180px;
    background-color: aliceblue;
    height: 180px;
    margin-right: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100% ;
}
.leftBox > h1{
    font-size: 5rem;
    margin-bottom: 0;
}
.right{
    display: flex;
    flex-direction: column;
    width: 500px;
}


