.profileImage {
    margin-top: 15px;
    
}

.profileImage > img {
    border-radius: 30% ;
    border: 2px dashed;
}

.editIcon {
    text-align: end;
    padding-right: 10pc;
}
.profile__update{
    margin-top: 4px;
    margin-bottom: 4px;
}